
body {
    background-color: #FFF6EE;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    flex-direction: column;

    .logo {
        width: 404px;
        margin: 0 auto 40px auto;
    }

    .header-info {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .header-info__block {
            max-width: 362px;
            width: 100%;
            margin-right: 40px;
            background: #117581;
            padding: 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #FFFFFF;
            opacity: 0.9;

            &:last-child {
                margin-right: 0;
            }

            .header-info__title {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
            }

            
        }

        .header-info__block-midlde {
            max-width: 362px;
            width: 100%;
            margin-right: 40px;
            background: #B13654;
            padding: 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #FFFFFF;

            .header-info__title {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
            }

            
        }
    }
}

.main {
    .decoration-one {
        width: 100%;
        border-bottom:  1px solid;
    }

    .decoration-two {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid;
        margin-bottom: 40px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
        align-items: center;

        .circle {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #B13654;
            margin-right: 8px;
        }

        .navbar-text {
            margin-right: 40px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #212121;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .main-news {
        display: flex;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        margin-bottom: 140px;

        .main-news__img {
            flex-basis: 50%;
            margin-right: 60px;
            
            img {
                width: 100%;
            }
        }

        .main-news_block {
            flex-direction: column;
            flex-basis: 50%;

            .autor {
                margin-bottom: 16px;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #63615E;
            }
            
            .main-news__title {
                font-family: 'Playfair Display', serif;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 48px;
                letter-spacing: 0.03em;
                color: #212121;
                margin-bottom: 24px;
            }

            .main-news__text {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #4D4B4A;
                margin-bottom: 24px;
            }

            .main-news_data {
                color: #63615E;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }

    .top-news {
        display: flex;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        margin-bottom: 80px;

        .top-news__title {
            font-family: 'Playfair Display', serif;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 130%;
            letter-spacing: 0.03em;
            color: #212121;
            margin-bottom: 32px;
        }

        .first-line,
        .second-line{
            display: flex;

            .top-news__block {
                max-width: 363px;
                width: 100%;
                margin-right: 40px;
                margin-bottom: 40px;
                background: #FFFCFA;
                border-radius: 4px;
    
                &:last-child {
                    margin-right: 0;
                }

                .content {
                    padding-left: 24px;
                    padding-right: 24px;
                    margin-top: 24px;

                    .block-data {
                        margin-bottom: 24px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #63615E;
                        margin-top: 24px;
                    }

                    .autor {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;
                        color: #63615E;
                        margin-bottom: 8px;
                    }

                    .block-text {
                        font-family: 'Playfair Display', serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        letter-spacing: 0.03em;
                        color: #212121;
                        width: 315px;
                        margin-bottom: 24px;
                    }

                    .line {
                        width: 100%;
                        border: 1px solid #BCB6B0;
                        border-radius: 4px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

        

        .button {
            display: flex;
            width: 200px;
            height: 48px;
            margin: 0 auto;
            border: 1px solid #B13654;
            border-radius: 4px;
            justify-content: center;
            align-items: center;
            margin-bottom: 140px;

            .button-text {
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                color: #B13654;
            }
        }

        .form-arrya {
            width: 1170px;
            margin: 0 auto 140px auto; 
            background: #117581;
            border-radius: 6px;
            display: flex;
            align-items: center;
            padding: 32px;

            .form-text {
                font-family: 'Playfair Display', serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #FFFFFF;
                width: 228px;
                margin-right: 80px;
            }

            .input {
                width: 300px;
                height: 48px;
                padding-left: 16px;
                background: #2B96A3;
                border: 1px solid rgba(255, 255, 255, 0.25);
                box-sizing: border-box;
                border-radius: 4px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                opacity: 0.6;
                margin-right: 8px;
            }

            input::-webkit-input-placeholder { color: #FFFCFA; }


            .form-items {
                display: flex;
                align-items: center;

                .button-input {
                    width: 182px;
                    padding: 10px 0;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 26px;
                    color: #107581;
                    border-radius: 4px;
                    border: 0;
                }
            }
        }
}

.footer {
    width: 100%;
    height: 278px;
    background: #212121;

    .content {
        display: flex;
        justify-content: space-between;
        margin-left: 80px;
        margin-right: 140px;
        align-items: center;
        padding-top: 80px;
        margin-bottom: 83px;

        .footer-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #BCB6B0;
            margin-bottom: 16px;
        }

        .footer-text {
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
            color: #FFFCFA;
            margin-right: 32px;
            margin-bottom: 16px;
        }

        .block-content {
            display: flex;
        }

        .footer-title__center {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #BCB6B0;
            display: flex;
            justify-content: center;
            margin-bottom: 16px;
        }
    }

    .copirate {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
        color: #BCB6B0;
        opacity: 0.5;
        margin-left: 80px;
    }
}